openstack-compute-api-1.1/src/xsd/volumes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xsl"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://docs.openstack.org/compute/api/v1.1"
>
  <annotation>
    <xsd:appinfo
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
      <xsdxt:title>Zones type</xsdxt:title>
      <xsdxt:link rel="index" href="api.xsd" />
    </xsd:appinfo>
    <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
      <p>
        This schema file defines a keypair
      </p>
    </xsd:documentation>
  </annotation>

  <!-- Import ATOM specific schema definitions -->
  <import namespace="http://www.w3.org/2005/Atom" schemaLocation="atom/atom.xsd" />

  <include schemaLocation="common.xsd">
    <annotation>
      <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
        <p>
          Common types used by multiple entities and possibly spanning
          several types of requests.
        </p>
      </xsd:documentation>
    </annotation>
  </include>
  <include schemaLocation="faults.xsd">
    <annotation>
      <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
        <p>
          All fault types.
        </p>
      </xsd:documentation>
    </annotation>
  </include>

  <element name="volume" type="csapi:Volume">
    <annotation>
      <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
        <p>
          The element defines a Keypair.
        </p>
      </xsd:documentation>
    </annotation>
  </element>

  <element name="volumeAttachment" type="csapi:VolumeAttachment">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          The element defines a volume attachment.
        </p>
      </xsd:documentation>
    </annotation>
  </element>


  <element name="volume_type" type="csapi:VolumeType">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          The element defines a volume type.
        </p>
      </xsd:documentation>
    </annotation>
  </element>
  
  <element name="extra_specs" type="csapi:Metadata">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          The element defines a extra specs of volume
        </p>
      </xsd:documentation>
    </annotation>
  </element>
  

  <!-- Complex Types -->
  <complexType name="Volume">
    <annotation>
      <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
        <p>
          A volume
        </p>
      </xsd:documentation>
    </annotation>    
    <attribute name="size" type="xsd:positiveInteger">
          <annotation>
              <xsd:documentation
                  xml:lang="EN"
                  xmlns="http://www.w3.org/1999/xhtml">
                  <p>
                    The size of a volume
                  </p>
              </xsd:documentation>
          </annotation>
    </attribute>
    <attribute name="metadata" type="csapi:Metadata">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The metadata of volume
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <attribute name="display_name" type="xsd:string">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The display name of a Keypair
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <attribute name="display_description" type="xsd:string">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The display description of a Keypair
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <element name="fault" type="csapi:AsyncAPIFault" minOccurs="0">
          <annotation>
              <xsd:documentation
                  xml:lang="EN"
                  xmlns="http://www.w3.org/1999/xhtml">
                  <p>
                      The detials of a fault that may have occured
                      while cerating the server or performing a server
                      action.
                  </p>
              </xsd:documentation>
          </annotation>
    </element>
    <anyAttribute namespace="##other" processContents="lax"/>
  </complexType>
  
  <!-- Complex Types -->
  <complexType name="VolumeAttachment">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          A volume attachment
        </p>
      </xsd:documentation>
    </annotation>    
    <attribute name="volumeId" type="xsd:positiveInteger">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The size of a volumeId
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <attribute name="device" type="xsd:string">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The device of a volumeId
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <element name="fault" type="csapi:AsyncAPIFault" minOccurs="0">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The detials of a fault that may have occured
            while cerating the server or performing a server
            action.
          </p>
        </xsd:documentation>
      </annotation>
    </element>
    <anyAttribute namespace="##other" processContents="lax"/>
  </complexType>

  <complexType name="BootFromVolume">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          When creating a server the server must contain a
          name and a reference to an image and flavor.
        </p>
      </xsd:documentation>
    </annotation>
    <complexContent>
      <restriction base="csapi:Server">
        <sequence>
          <element name="metadata" type="csapi:Metadata" minOccurs="0">
            <annotation>
              <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
                <p>
                  A collection of meta data items associated with the server.
                </p>
              </xsd:documentation>
            </annotation>
          </element>
          <element name="personality" type="csapi:Personality" minOccurs="0">
            <annotation>
              <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
                <p>
                  A collection of small <a href="#type_File" title="See
                    definition of file">files</a> used to personalize a new
                  server instance.
                </p>
              </xsd:documentation>
            </annotation>
          </element>
          <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute type="xsd:string" name="name" use="required"/>
        <attribute type="xsd:anyURI" name="imageRef" use="required"/>
        <attribute type="xsd:anyURI" name="flavorRef" use="required"/>
        <attribute type="xsd:string" name="accessIPv4" use="optional"/>
        <attribute type="xsd:string" name="accessIPv6" use="optional" />
        <attribute type="xsd:string" name="adminPass" use="optional"/>
        <attribute type="csapi:UUID" name="id"   use="prohibited"/>
        <attribute type="xsd:string" name="tenantId" use="prohibited"/>
        <attribute type="xsd:string" name="userId" use="prohibited"/>
        <attribute type="xsd:string" name="hostId" use="prohibited"/>
        <attribute type="csapi:Progress" name="progress"  use="prohibited"/>
        <attribute type="csapi:ExtensibleServerStatus" name="status" use="prohibited"/>
        <attribute type="xsd:dateTime" name="updated" use="prohibited"/>
        <attribute type="xsd:dateTime" name="created" use="prohibited"/>
        <attribute type="xsd:anyURI" name="config_drive" use="optional"/>
        <attribute type="csapi:SecurityGroups" name="security_groups" use="optional"/>
        <attribute type="csapi:Networks" name="networks" use="optional"/>
        <attribute type="xsd:string" name="blob" use="optional"/>
        <attribute type="xsd:string" name="keyname" use="optional"/>
        <attribute type="xsd:string" name="availability_zone" use="optional"/>
        <attribute type="xsd:string" name="reservation_id" use="optional"/>
        <attribute type="xsd:positiveInteger" name="min_count" use="optional"/>
        <attribute type="xsd:positiveInteger" name="max_count" use="optional"/>
        <attribute type="xsd:positiveInteger" name="block_device_mapping" use="optional"/>
        <anyAttribute namespace="##other" processContents="lax"/>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="VolumeType">
    <annotation>
      <xsd:documentation
        xml:lang="EN"
        xmlns="http://www.w3.org/1999/xhtml">
        <p>
          A volume type
        </p>
      </xsd:documentation>
    </annotation>    
    <attribute name="name" type="xsd:string">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The name of volume type
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <attribute name="extra_specs" type="csapi:Metadata">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The device of a volumeId
          </p>
        </xsd:documentation>
      </annotation>
    </attribute>
    <element name="fault" type="csapi:AsyncAPIFault" minOccurs="0">
      <annotation>
        <xsd:documentation
          xml:lang="EN"
          xmlns="http://www.w3.org/1999/xhtml">
          <p>
            The detials of a fault that may have occured
            while cerating the server or performing a server
            action.
          </p>
        </xsd:documentation>
      </annotation>
    </element>
    <anyAttribute namespace="##other" processContents="lax"/>
  </complexType>
  
  
</schema>
